body{
  background-color: #e4f6f6;
  text-align: center;
  padding-top: 40px;
}

label{
  font-family: cursive;
}
p{
  padding-left: 600px;
}

.for input{
    width: 50%;
    padding:10px 12px;
}

.for input.cancel{
  width:6%;
  position: absolute;
  right: 860px;
  background-color: crimson;
  color: white;
  border:none;
}

.for input.l{
  margin-left: 100px;
  width: 50%;
  background-color: #00ab41;
  color: white;
}

.for input.l:hover{
  background-color: #90ee90;
}

.box{
  position: absolute;
  right: 270px;
}

.d{
  text-decoration: underline;
  color: blue;
}

.u{
  text-decoration: underline;
  font-size: 20px;
}
